Pods
Code Editor.xcworkspace/xcuserdata/kubowo.xcuserdatad/UserInterfaceState.xcuserstate

/Code Editor.xcworkspace/xcuserdata/kubowo.xcuserdatad/xcdebugger/
/Code Editor.xcworkspace/xcuserdata/kubowo.xcuserdatad/UserInterfaceState.xcuserstate
xcshareddata
/Code Editor.xcodeproj/xcuserdata/kubowo.xcuserdatad/xcschemes/xcschememanagement.plist